stages:
  - test

image: mcr.microsoft.com/playwright:v1.56.1-noble

variables:
  APP_URL: https://www.saucedemo.com

test:
  stage: test
  script:
    - npm ci
    - npm run test:cov
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml
