stages:
  - test

image: mcr.microsoft.com/playwright:v1.56.1-noble

variables:
  SAUCEDEMO_BASE_URL: ${SAUCEDEMO_BASE_URL:-https://www.saucedemo.com}
  SAUCEDEMO_USERNAME_STANDARD_USER: ${SAUCEDEMO_USERNAME_STANDARD_USER}
  SAUCEDEMO_PASSWORD_STANDARD_USER: ${SAUCEDEMO_PASSWORD_STANDARD_USER}
  SAUCEDEMO_USERNAME_LOCKED_OUT_USER: ${SAUCEDEMO_USERNAME_LOCKED_OUT_USER}
  SAUCEDEMO_PASSWORD_LOCKED_OUT_USER: ${SAUCEDEMO_PASSWORD_LOCKED_OUT_USER}
  SAUCEDEMO_USERNAME_PROBLEM_USER: ${SAUCEDEMO_USERNAME_PROBLEM_USER}
  SAUCEDEMO_PASSWORD_PROBLEM_USER: ${SAUCEDEMO_PASSWORD_PROBLEM_USER}
  SAUCEDEMO_USERNAME_PERFORMANCE_GLITCH_USER: ${SAUCEDEMO_USERNAME_PERFORMANCE_GLITCH_USER}
  SAUCEDEMO_PASSWORD_PERFORMANCE_GLITCH_USER: ${SAUCEDEMO_PASSWORD_PERFORMANCE_GLITCH_USER}
  SAUCEDEMO_USERNAME_ERROR_USER: ${SAUCEDEMO_USERNAME_ERROR_USER}
  SAUCEDEMO_PASSWORD_ERROR_USER: ${SAUCEDEMO_PASSWORD_ERROR_USER}
  SAUCEDEMO_USERNAME_VISUAL_USER: ${SAUCEDEMO_USERNAME_VISUAL_USER}
  SAUCEDEMO_PASSWORD_VISUAL_USER: ${SAUCEDEMO_PASSWORD_VISUAL_USER}

  ORANGEHRM_BASE_URL: ${ORANGEHRM_BASE_URL:-https://opensource-demo.orangehrmlive.com}
  ORANGEHRM_USERNAME: ${ORANGEHRM_USERNAME}
  ORANGEHRM_PASSWORD: ${ORANGEHRM_PASSWORD}

  TYPICODE_BASE_URL: ${TYPICODE_BASE_URL:-https://jsonplaceholder.typicode.com}

  REQRES_BASE_URL: ${REQRES_BASE_URL:-https://reqres.in/api}
  REQRES_API_KEY: ${REQRES_API_KEY}

test:
  stage: test
  script:
    - npm ci
    - npm run test:cov
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml
