stages:
  - build
  - test

image: node:$NODE_VERSION

cache:
  key:
    files:
      - package-lock.json
  paths:
    - node_modules
  policy: pull-push

variables:
  NODE_VERSION: 24.11.0

  APP_URL: https://www.saucedemo.com

build:
  only:
    - main
    - develop
    - merge_requests
  stage: build
  script:
    - npm ci
    - PLAYWRIGHT_BROWSERS_PATH=$CI_PROJECT_DIR/node_modules/playwright-core/.local-browsers npx playwright install --with-deps

test:
  only:
    - main
    - develop
    - merge_requests
  stage: test
  needs: [build]
  script:
    - export COVERAGE=true PLAYWRIGHT_BROWSERS_PATH=$CI_PROJECT_DIR/node_modules/playwright-core/.local-browsers && npx playwright test
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml
